<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>AASTU CLINICAL MANAGEMENT SYSTEM</title>
   <link rel="stylesheet" href="/stylesheet/style.css">
   <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>


<body>
   <nav class="navbar">
      <div class="navigation">
         <div class="logo">
            <img src="/image/aastu logo.jpg" alt="aastu logo">
         </div>
         <h1>AASTU CLINICAL MANAGEMENT SYSTEM</h1>
      </div>
   </nav>
   <section id="login">
      <div class="loginpg">
         <div class="staff">
            <div>
               <div class="icon"><i class="fa-solid fa-user"></i></div>
               <h3>Reception</h3>
               <a href="/login/staff"><span style=" display: inline-block;">click here</span></a>
            </div>

         </div>
         <div class="labratory">
            <div>
               <div class="icon"><i class="fa-sharp fa-solid fa-microscope"></i></div>
               <h3>labratory</h3>
               <a href="/login/labratory"><span style=" display: inline-block;">click here</span></a>
            </div>
         </div>

         <div class="admin">
            <div>
               <div class="icon"><i class="fa fa-unlock-alt" aria-hidden="true"></i></div>
               <h3>ADMIN</h3>
               <a href="/admin/login"><span style=" display: inline-block;">click here</span></a>
            </div>
         </div>
         <div class="doc">
            <div>
               <div class="icon"><i class="fa-solid fa-user-doctor"></i></div>
               <h3>DOCTOR</h3>
               <a href="/login/doctor"><span style=" display: inline-block;">click here</span></a>
            </div>

         </div>
      </div>
   </section>
</body>

</html>